* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.hero {
    position: relative;
    background-image: url(../assets/desktop/image-header.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .hero__header {
        display:flex;
        align-items: center;
        justify-content: space-between;
        padding: 34px 40px;
        position: absolute;
        top: 0;
        width: 100%;
    }

    .hero__header nav ul {
        display: flex;
        align-items: center;
        list-style: none;
        gap: 47px;

        a {
            text-decoration: none;
            color: white;
        }
    }

    .hero__content {
        display: flex;
        flex-direction: column;
        gap: 95px;
        align-items: center;

        h1{
            color: white;
            text-transform: uppercase;
            letter-spacing: 8.75px;
            font-size: 56px;
        }

        img{
            width: 30px;
            height: 107px;
        }
    }
}

.about {

    .about__transform, .about__stand__out{
        display: flex;
        align-items: center;
        
        .about__content__container {
            display: flex;
            flex-direction: column;
            gap: 32px;
            padding: 158px 110px 158px 165px;
            width: 50%;

           .about__title {
            font-size: 40px;
           }

           .about__content {
            font-size: 18px;
            line-height: 30px;
            letter-spacing: -.13px;
           }
        }

        .about__transform__img {
            width: 50%;

            img{
                width: 100%;
            }
           }
    }
}



@media screen and (max-width: 450px) {
   .hero {
    background-image: url(../assets/mobile/image-header.jpg);

    .hero__header {
        padding: 32px 24px;
    }
    .hero__header nav {
        display: none;
    }

    .hero__content{
        h1 {
            text-align: center;
            font-size: 40px;
            letter-spacing: 6.25px;
        }
    }
   }
}